*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  background-color: var(--background-color);
  font-family: "IBM Plex mono", "monospace", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.bold-text {
  font-weight: 700;
}

@media (width <= 375px) {
  .decoration::before {
    right: 10px;
    top: 10px;
  }

  .decoration::after {
    bottom: 10px;
    left: 10px;
  }
}
